<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hthyaq.zybadmin.mapper.WorkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hthyaq.zybadmin.model.entity.Work">
        <id column="id" property="id" />
        <result column="men" property="men" />
        <result column="industyName" property="industyName" />
        <result column="max" property="max" />
        <result column="postName" property="postName" />
        <result column="pid" property="pid" />
        <result column="topId" property="topId" />
        <result column="level" property="level" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, men, industyName, max, postName, pid, topId, level
    </sql>

</mapper>
